* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root, #whole {
  width: 100%;
  height: 100vh;
  background-color: #014366;
}

#whole {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  width: 100%;
  height: 70px;
  background-color: #0090DD;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#header h1 {
  margin: 0 60px;
  font-weight: 800;
}

#header a {
  color: white;
  margin: 0 60px;
  text-decoration: none;
}

/* ============= DRUM MACHINE =============== */

#drum-machine {
  width: 525px;
  height: 304px;
  background-color: #0090DD;
  color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 242px 172px;
  grid-column-gap: 35px;
  justify-content: center;
  align-items: center;
}

#drum {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 70px 70px 70px;
  justify-content: center;
  grid-gap: 10px;
}

.drum-pad {
  background-color: #014366;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 30px;
}

#tools {
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

#display {
  width: 136px;
  height: 57px;
  background-color: #014366;
  color: white;
  border-radius: 5px;
}

#volume-range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #014366;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #0090DD;
  border: 1px solid #014366;
  cursor: pointer;
}

#volume-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0090DD;
  border: 1px solid #014366;
  cursor: pointer;
}


.onOff {
  width: 65px;
  height: 26px;
  background-color: #014366;
  color: white;
  border: 1px solid white;
  margin: 0 5px;
}

