* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root, #whole {
  width: 100%;
  height: 100vh;
  background-color: #014366;
}

#whole {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  width: 100%;
  height: 70px;
  background-color: #0090DD;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#header h1 {
  margin: 0 60px;
  font-weight: 800;
}

#header a {
  color: white;
  margin: 0 60px;
  text-decoration: none;
}

/* ============= DRUM MACHINE =============== */

#drum-machine {
  width: 525px;
  height: 304px;
  background-color: #0090DD;
  color: white;
  border-radius: 37px;
  display: flex;
}

#drum {
  width: 60%;
  height: 95%;
  margin: 2.5% 2%;
}

.drum-pad {
  width: 70px;
  height: 70px;
  background-color: #014366;
  color: white;
  border-radius: ;
}

#tools {
  width: 34%;
  height: 95%;
  margin: 2.5% 2%;
}